@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'NexonLv1Gothic';
}
body {
  display: flex;
  flex-direction: column;

  background-image: url(./이미지/body배경.jpg);
}

hr {
  background: black;
  height: 3px;
  border: 0;
}

header {
  flex-basis: 15%;
  position: sticky;
  top:0;
  background-color: rgb(235, 217, 181);
}

main {
  flex-basis: 70%;
}

footer {
  flex-basis: 15%;
  background-color: rgb(235, 217, 181);
  display: flex;
  justify-content: center;
}

#header-menu a {
  text-decoration: none;
  color: black;
}


#header-menu ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgb(235, 217, 181);
}

#header-menu li {
  margin-right: 150px;
}

.bg{
  height: 650px;
  background-image:url(./이미지/메인배경.jpg);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.bg-img {
  border: 5px solid black;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  margin-bottom: 10px;
}

#about {
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about > div:first-of-type {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
#about span {
  flex: 1 ;
  font-size: 20px;
}

.about-grade1 {
  flex: 1;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  margin-left: 20px;
  font-size: 20px;
}

.about-grade2 {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
}


.about-table-grade th {
  width: 250px;
  text-align: left;
  border-bottom: 3px solid  rgb(235, 217, 181);
}

#educationSkills {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#educationSkills fieldset {
  width: 500px;
  height: 450px;
  border-color: black;
}


#educationSkills ul {
  list-style: none;
  padding-left: 5px;
}

.es-progress {
  appearance: none;
  margin-bottom: 10%;
  width: 60%;
}

.es-progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.es-progress::-webkit-progress-value {
  background-color: rgb(235, 217, 181);
  border-radius: 10px;
}


#contact {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact fieldset {
  border: 3px solid black;
  height: 530px;
  width: 300px;
  display: flex;
  padding: 5px;
  background-color: rgb(235, 217, 181);
  flex-direction: column;
}

#contact legend {
  font-weight: bold;
}

#contact span {
  font-weight: bold;
}

#contact input {
  border: 2px solid black;
  font-size: 16px;
  border-radius: 8px;

}

#contact button {
  margin-top: 30%;
  height: 50px;
  background-color: rgb(235, 217, 181);
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

#contact img {
  height: 80%;
  margin-right: 10px;
  border-radius: 8px;
}

